.App {
  text-align: center;
}

.AppHeader {
  background-color: #0275d8;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 

.AppHeader :hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.whiteText{
  text-decoration: none;
  color: white;
}

.whiteText :hover {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

